In [6]:
import pandas as pd

In [7]:
# series is 1-dimension

In [8]:
cars = pd.Series(["T1" , "T2" , "T3"])
cars

0    T1
1    T2
2    T3
dtype: object

In [9]:
colors = pd.Series(["Red" , "Blue" , "Green"])
colors

0      Red
1     Blue
2    Green
dtype: object

In [10]:
# dataFrame is 2-dimension
car_frame = pd.DataFrame({"maker" : cars , "colors" : colors})
car_frame

  maker colors
0    T1    Red
1    T2   Blue
2    T3  Green

In [11]:
# create a dataFrame from CSV
cars = pd. read_csv("car-sales.csv")
cars
# axis 0 = row
# axis 1 = column

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [12]:
# exporting dataFrame to csv
# index = False so it don't create a index column
cars.to_csv("exported_cars" , index = False)

## Describing Data

In [13]:
cars.dtypes
# types of cars dataframe

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [16]:
cars.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [15]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes