In [1]:
import pandas as pd

In [2]:
# series is 1-dimension

In [4]:
cars = pd.Series(["T1" , "T2" , "T3"])
cars

0    T1
1    T2
2    T3
dtype: object

In [5]:
colors = pd.Series(["Red" , "Blue" , "Green"])
colors

0      Red
1     Blue
2    Green
dtype: object

In [7]:
car_frame = pd.DataFrame({"maker" : cars , "colors" : colors})
car_frame

  maker colors
0    T1    Red
1    T2   Blue
2    T3  Green