In [1]:
import pandas as pd

In [2]:
# series is 1-dimension

In [4]:
cars = pd.Series(["T1" , "T2" , "T3"])
cars

0    T1
1    T2
2    T3
dtype: object

In [5]:
colors = pd.Series(["Red" , "Blue" , "Green"])
colors

0      Red
1     Blue
2    Green
dtype: object

In [7]:
# dataFrame is 2-dimension
car_frame = pd.DataFrame({"maker" : cars , "colors" : colors})
car_frame

  maker colors
0    T1    Red
1    T2   Blue
2    T3  Green

In [10]:
# create a dataFrame from CSV
cars = pd. read_csv("car-sales.csv")
cars
# axis 0 = row
# axis 1 = column

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [11]:
# exporting dataFrame to csv
cars.to_csv =